
	input[type=text],select{
		
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 25px;
		box-sizing: border-box;
		
		color: Dodgerblue;
	}
	
	input[type=submit], input[type=reset], input[type=button]{
		width: 100%;
		background-color: #4CAF50;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		border-radius: 25px;
		cursor: pointer;
	}
	
	input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover{
		background-color: tomato;
	}
	
	div{
		margin:20px;
		background-color: #D3D3D3;
		border-radius: 15px;
		padding: 20px;
	}
	
	table, th, td {
		
		border: 1px solid black;
		border-collapse:collapse;
		padding: 5px;
		border-radius: 25px;
		
	}
	
	img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	.newButtonUpdate{
		width: 100%;
		background-color: Dodgerblue;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}
	
	.newButtonDelete{
		width: 100%;
		background-color: tomato;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}
	